*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5em;
    color: black;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

button {
    background-color: $primary-background;
    color: $primary-color;
    border: none;
    cursor: pointer;
    padding: 0.35em 0.7em;
}

p {
    letter-spacing: 1px;
    margin: 5px 0 10px 0;
}

img {
    max-width: 100%;
    display: block;
}
