/* MARGIN */

.no-m {
    margin: 0;
}

.no-mx {
    margin-left: 0;
    margin-right: 0;
}

.no-my {
    margin-top: 0;
    margin-bottom: 0;
}

/* PADDING */

.no-p {
    padding: 0;
}

.no-px {
    padding-left: 0;
    padding-right: 0;
}

.no-py {
    padding-top: 0;
    padding-bottom: 0;
}
